* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  background-color: #eeeeee;
  margin: 0;
  font-family: 'Chau Philomene One', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas-contain {
  position: relative;
  display: flex;
  width: 600px;
  height: 600px;

  align-items: center;
  justify-content: center;
}

.after, .before {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-click {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.before {
  opacity: 1;
  z-index: 1;
}

.before--opacity {
  transition: opacity 10s linear;
  opacity: 0;
}

.won {
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  display: none;

  /* text positioning */
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

.won p {
  border: 1px solid #fff;
  padding: 10px;
  margin: 0;
  max-width: 80%;
}

.start {
  font-size: 25px;
  position: relative;
  background-color: white;
  padding: 10px;

  z-index: 2;
}

.start--click {
  display: none;
  z-index: 0;
}

.progress-bar {
  width: 100%;
  background-color: orange;
  height: 10px;
  position: absolute;
  z-index: 2;
  top: -10px;
}

.progress-bar__fill {
  transition: width 10s linear;
  width: 0%;
}

.arrow {
  height: 60px;
  width: 60px;
  position: absolute;
  display: none;
  z-index: 3;
}

.correct {
  background-color: rgb(72, 201, 176);
}

.wrong {
  background-color: rgb(236, 112, 99);
}

/* styles for the header of the page */
.header {
  text-align: center;
  width: 600px;
  font-size: calc(1vh + 13px);
}

.logo {
  color: #00ae6e;  
  font-size: 50px;
  letter-spacing: 3px;
  margin: 30px 0 10px 0;
  text-transform: uppercase;
}

/* styles for the nav */

.nav {
  color: #555555;
  margin: 0;
  padding: 0;
}

.nav__item {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

#instructions {
  width: 100%;
  background-color: #fff;
  color: #555555;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 5px;
}

@media screen and (max-width: 961px) {
  .canvas-contain {
    font-size: 16px;
    width: 400px;
    height: 400px;
  }

  .header {
    width: 400px;
  }

  .images { 
    display: flex;
    justify-content: space-between;
  }

  .images img {
    width: 45%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .canvas-contain {
    font-size: 16px;
    width: 350px;
    height: 350px;
  }

  .header {
    width: 350px;
  }
}

@media screen and (max-width: 300px) {
  .canvas-contain, .header {
    width: 100%;
  }
}