.canvas-contain {
  position: relative;
  display: inline-block;
  min-width: 320px;
  min-height: 320px;
  max-width: 1000px;
  max-height: 1000px;
  width: 97vmin;
  height: 97vmin;
}

.after, .before {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-click {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.before {
  opacity: 1;
  z-index: 1;
}

.before--opacity {
  transition: opacity 3s ease;
  opacity: 0;
}

.won {
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  display: none;

  /* text positioning */
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

.won p {
  border: 1px solid #fff;
  padding: 10px;
  margin: 0;
  max-width: 80%;
}

.start {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: white;
  padding: 10px;

  z-index: 2;
}

.start--click {
  display: none;
  z-index: 0;
}

.progress-bar {
  width: 100%;
  background-color: orange;
  height: 10px;
  position: absolute;
  z-index: 2;
}

.progress-bar__fill {
  transition: width 3s ease;
  width: 0%;
}